DEEPSEEK_API_KEY=your_deepseek_api_key
QWEATHER_API_KEY=your_qweather_api_key
QWEATHER_API_HOST=your_qweather_api_host
APIHZ_DEVELOPER_ID=your_apihz_developer_id
APIHZ_DEVELOPER_KEY=your_apihz_developer_key
APIHZ_12306_BASE_URL=http://101.35.2.25/api/12306
